html {
  scroll-behavior: smooth;
}

body {
  background: black;
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  font-size: 2rem;
}

.fas .fas:visited {
  color: white;
  text-decoration: none;
}

.banner {
  position: relative;
  margin: auto;
}

.blockquote {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  font-family: "Staatliches", cursive;
  letter-spacing: 1.5px;
  background: rgba(0, 0, 0, 0.5);
}

.blockquoteFooter {
  position: absolute;
  top: 600px;
  left: 0;
  width: 100%;
  font-family: "Staatliches", cursive;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}

h2 {
  font-family: "Staatliches", cursive;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

blockquote {
  color: white;
  text-align: center;
}

.blockquote p {
  font-size: 1rem;
}

.blockquote-footer a {
  font-size: 1rem;
  text-decoration-style: none;
}

p {
  color: white;
  font-size: 1.125rem;
  line-height: 1.5;
}

#mainNavbar .navbar-brand {
  font-family: "Rock Salt", cursive;
  color: white;
}

#mainNavbar .nav-link {
  color: white;
  transition: all 300ms ease-in-out;
}

#mainNavbar .nav-link:hover {
  color: #967bb0;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  color: black;
}

#opacity {
  opacity: 0.7;
  transition: all 500ms ease-in-out;
}

#opacity:hover {
  opacity: 1;
}

/*#dates refer to Bandsintown widget*/
#dates {
  background: white;
  font-family: "Staatliches", cursive;
}

#dates .bit-widget {
  min-width: 200px;
  font-family: "Staatliches", cursive;
  font-size: 1.25em;
}

#dates .bit-widget .bit-event .bit-button {
  width: 100px;
}

#dates .bit-venue-name .bit-location {
  font-family: "Staatliches", cursive;
  color: black;
}

.black {
  color: black;
}

#mailTo {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in-out;
}

#mailTo:hover {
  color: #0f4944;
}

.fab {
  color: white;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
}

.fa-facebook-square:hover {
  color: #4267b2;
}

.fa-spotify:hover {
  color: #1ed760;
}

.fa-youtube:hover {
  color: #cd201f;
}

.fa-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.fa-twitter:hover {
  color: #1da1f3;
}

#booking {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (min-width: 1200px) {
  .blockquote p {
    font-size: 1.75rem;
  }
}

@media (min-width: 544px) {
  .blockquote p {
    font-size: 1.25rem;
  }

  .blockquote-footer a {
    font-size: 1.25rem;
  }
}

@media (max-width: 544px) {
  .blockquoteFooter {
    top: 300px;
  }

  body {
    background: black;
  }
}

@media (min-width: 768px) {
  .blockquote p {
    font-size: 1.5rem;
  }

  .blockquote {
    top: 200px;
  }

  .blockquote-footer a {
    font-size: 1.5rem;
  }

  .blockquoteFooter {
    top: 200px;
  }
}
